<mat-sidenav-container halfscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
        <a mat-list-item routerLink="">
          <mat-icon>description</mat-icon>
          <span>Courses List</span>
      </a>

      <a mat-list-item routerLink="">
          <mat-icon>library_add</mat-icon>
          <span>Add new course</span>
      </a>

      </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>

      <a mat-button>
        <mat-icon>home</mat-icon>
        Home
      </a>

      <a mat-button routerLink="/registration">
        <mat-icon>person_add</mat-icon>
        Registration
      </a>

      <a mat-button routerLink="/login">
        <mat-icon>account_circle</mat-icon>
        Login
      </a>

      <a mat-button [matMenuTriggerFor]="dropdown">
        About Us
      </a>

      <mat-menu #dropdown>
        <mat-icon>question_answer</mat-icon>
        <button mat-menu-item routerLink="/">CEO message</button>
        <button mat-menu-item routerLink="/">Contact Details</button>
      </mat-menu>

  </mat-toolbar>
</mat-sidenav-container>

<router-outlet></router-outlet>