<form [formGroup]="LoginForm" (ngSubmit)="Login()" class="form">
    <mat-card class="card" style="background-color: rgb(233, 215, 241); text-align: center;">
    
        <h1 style="color: darkblue;text-align: center;"><b>Login Form</b></h1>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>User Name</mat-label>
            <mat-icon matSuffix>face</mat-icon>
            <input formControlName="name" matInput placeholder="Enter User Name" required>
            <mat-error>*User Name is required</mat-error>
          </mat-form-field>
        </div>
           
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input minlength="6" maxlength="12" formControlName="password" [type]="hide ? 'password' : 'text'" matInput placeholder="Enter Password">
            <mat-error>*Password is required <br>Min Length:6 and Max Length:12</mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
       
        <br>  
        <div>
          <button type="submit" mat-raised-button color="primary" >Submit</button>
        </div>
    
      </mat-card>

      <router-outlet></router-outlet>
    </form>