<mat-sidenav-container fullscreen style="background-color: rgb(182, 146, 216);">
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
      <a mat-button routerLink="/dashboard">
        <mat-icon>person_add</mat-icon>
        Registration
      </a>
      </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>

      <a mat-button routerLink="/home">
        <mat-icon>home</mat-icon>
        Home
      </a>

      <a mat-button routerLink="/registration">
        <mat-icon>person_add</mat-icon>
        Registration
      </a>

      <a mat-button routerLink="/login">
        <mat-icon>account_circle</mat-icon>
        Login
      </a>

      <a mat-button [matMenuTriggerFor]="dropdown">
        About Us
      </a>
      
      <mat-menu #dropdown>
        <mat-icon>question_answer</mat-icon>
        <button mat-menu-item (click)="openDialog()">CEO message</button>
        <button mat-menu-item (click)="contactDetailsOpenDialog()">Contact Details</button>
      </mat-menu>

  </mat-toolbar>

  <br>
  <div>
    <mat-progress-bar mode="buffer" value="40" ></mat-progress-bar>   
  </div>

  <router-outlet></router-outlet>

</mat-sidenav-container>
