<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">

  <div class="form-group">
    <label for="projectName"><b> Project Name: </b></label>
    <input type="text" #projectName="ngModel" name="projectName" placeholder="Enter Project Name"  pattern="^[Test]+$" ngModel required>
    <br><span *ngIf="projectName.invalid && projectName.touched" style="color: red;">Please enter Project Name</span><br>
  </div>

  <div class="form-group">
  <label for="projectStatus"><b> Project Status: </b></label>
  <select name="projectStatus" id="projectStatus" [ngModel]="projectStatus" required>
    <option selected="selected" value="Stable"> Stable </option>
    <option value="Critical"> Critical </option>
    <option value="Finished"> Finished </option>
  </select>
  </div>

  <br>
  <div class="form-group">
  <label for="email"><b>Email id: </b></label>
  <input type="email" name="email" id="email" #email="ngModel" email placeholder="Enter Email" ngModel required>
  <br><span *ngIf="email.invalid && email.touched" style="color: red;">Please enter a valid Email id</span>
  </div>
  
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
