<form [formGroup]="FormSubmit" (ngSubmit)="onSubmit()" class="form">
  <mat-card class="card" style="background-color: rgb(233, 215, 241);">
  
      <h1 style="color: darkblue;text-align: center;"><b>Registeration Form</b></h1>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Full Name</mat-label>
          <mat-icon matSuffix>face</mat-icon>
          <input formControlName="name" matInput placeholder="Enter Full Name" required>
          <mat-error>*Full Name is required</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email Id</mat-label>
          <input formControlName="email" matInput placeholder="email@example.com">
          <mat-error>*Email is required</mat-error>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>
  
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input formControlName="password" [type]="hide ? 'password' : 'text'" matInput placeholder="Enter Password">
          <mat-error>*Password is required</mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
  
  
  
      <div>
        <h3>Gender:</h3>
        <mat-radio-group formControlName="gender" aria-label="Select an option">
          <mat-radio-button value="male">Male<mat-icon matSuffix>male</mat-icon></mat-radio-button><br>
          <mat-radio-button value="female">Female<mat-icon matSuffix>female</mat-icon></mat-radio-button><br>
          <mat-radio-button value="other">Other<mat-icon matSuffix>transgender</mat-icon></mat-radio-button>
        </mat-radio-group>
      </div>
  
      <br>
  
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Date of Birth</mat-label>
          <input formControlName="dob" matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
  
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Mobile Number</mat-label>
          <input formControlName="mobile" matInput placeholder="Enter Mobile No.">
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </div>
  
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Select your skills </mat-label>
          <mat-select formControlName="skills" [(value)]="selected">
            <mat-option value="Angular Basic">Angular Basic</mat-option>
            <mat-option value="Angular Intermediate">Angular Intermediate</mat-option>
            <mat-option value="Angular Advance">Angular Advance</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div>
        <button type="submit" mat-raised-button color="primary">Submit</button>
      </div>
  
    </mat-card>
  </form>